

@import '../node_modules/bootstrap/less/variables.less';
body{
  position: relative;
  padding-top: 50px;
}
a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

//* General
// TODO modify backgrount nav color 
@color-dark : @navbar-inverse-bg;
@color-light : @navbar-inverse-brand-color;

.section-title{
  color: @color-dark;
  margin-bottom: 1em;
}

//* Front
.section-front{
  background: url('./img/fondo.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; // TODO need fix padding top of body
  margin-top: -50px;
  position: relative;
  background-position: center center;
}
.image-effect{
  background-color: rgba(0,0,0,.3);
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.front-title{
  position: absolute;
  bottom: 15vh;
  width: 100%;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0,0,0,.8);
}
.front-title h1 small{
  display: block;
  margin-top: .5em;
  color: #fff;
  font-style: oblique;
}

//* Calendar
.section-calendar{
  background-color: @color-dark;
  color: @color-light;
}
.carousel.slide{
  padding-bottom: 3em;
}
.carousel-indicators{
  padding-bottom: 2em;
}
.calendar-item{
  padding: 3em 0;
  min-height: 150px;
  padding-top: 3em;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 3em; 
}
.calendar-date{
  clear: right;
  display: table;
  margin: 0 auto 1em auto;
}
.carousel-indicators li,
.carousel-indicators .active{
  margin: 0 0 0 1em;
}

//* Explorer
.section-explorer{
  background-color: #fff;
  color: @color-dark;
}
.section-explorer .container{
  padding-top: 3em;
  padding-bottom: 6em;
}
.list-item{
  cursor: pointer;
}
.list-item img{
}
.list-item:hover{
  opacity: 0.8;
}
.list-item:active{
  opacity: 0.6;
}
.list-item{
  text-align: center;
  font-weight: bold;
  padding: 5px;
  overflow: hidden;
}
.list-item .list-item-icon{
 clear: both; 
 display: block;
 font-size: 5em;
 margin-bottom: 5px;
 visibility: visble;
}
.list-item-folder{
}
.list-item-folder.back{
}
.list-item-file{
}

//* Chat
.section-chat{
  background-color: @color-dark;
}
.section-chat .container{
  padding-top: 3em;
  padding-bottom: 6em;
}
.section-chat .section-title{
  color: @color-light;
}

//* Footer
.section-footer{
  padding: 3em 0;
  background-color: @color-light;
  color: @color-dark;
  border-top: 0px solid @color-light;
  box-shadow: inset 0 20px 20px -20px @color-dark;
}
.footer-text{
  padding: .5em 0;
  font-weight: bold;
  color: @color-dark;
}
.btn-footer{
  color: #fff;
  background-color: @color-dark;
  border-color: @color-dark;
  margin: 0 .2em;
}
.footer-links{
}


//* Utility classes that would be added on Bootstrap 4
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: @screen-sm-min) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}
@media (min-width: @screen-md-min) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}
@media (min-width: @screen-lg-min) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}
